<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>095AE7A61E582AFC0020B7CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>095AE7BA1E582AFD0020B7CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A1A74E1E94C1E200042E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A1A7651E975CA200042E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A1A7731E975CD100042E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
